# ignore this
# Visual Studio Code
# R and RStudio files
# Python cache
.vscode
.Rproj.user
.Rhistory
.RData
.Ruserdata
.spyproject
.DS_Store
TODO.txt
TODO.xlsx
*.pyc
__pycache__/

# electron
app/package-lock.json

# discard the environment for the frontend
env/node/node-win-x64
env/node/node-darwin-x64
env/node/node-linux-x64
env/node/requirements.txt

# discard the environment for the backend
app/resources/env
app/resources/exec

# discard the temporal python folder
env/python/Python-3.9.7

# discard the distribution folders
releases

# docs
docs/README.txt
docs/presentations/
docs/templates/PTM/
docs/templates/WPP_LabelFree/
docs/templates/WSPP-SBT/
docs/templates/WSPP_NORCOM_RATIOS_SBT/
docs/templates/WSPP_PTM/
docs/user_guides/*.docx
docs/user_guides/User_Guide_iSanXoT.Data/
docs/user_guides/User_Guide_iSanXoT.enl
docs/user_guides/drafts


# SanXoT
src/SanXoT/.svn
src/SanXoT/help
src/SanXoT/standalone exes
src/SanXoT/Desktop.ini
src/SanXoT/PTMrelsMaker.py
src/SanXoT/README.txt
src/SanXoT/SanXoT_advancedHelp.doc
src/SanXoT/SanXoT_advancedHelp.txt
src/SanXoT/anselmo.py
src/SanXoT/arbor.py
src/SanXoT/camacho.py
src/SanXoT/catapep.py
src/SanXoT/conf
src/SanXoT/coordinometer.py
src/SanXoT/db
src/SanXoT/dot.ini
src/SanXoT/format
src/SanXoT/highLevel_rels.py
src/SanXoT/hooks
src/SanXoT/install.txt
src/SanXoT/locks
src/SanXoT/logmasher.py
src/SanXoT/maesepedro.py
src/SanXoT/sanxotghost.py
src/SanXoT/sanxotsqueezer.py
src/SanXoT/svn.ico
src/SanXoT/trilogy.py
src/SanXoT/utest
src/SanXoT/workflows
src/SanXoT/xp_vpCollector.py
