* {
    font-family: 'Roboto';
    font-size: .87rem;
}
body {
    background: #fafafa;
}
p, ul, li {
    line-height: 1.7em;
    color: #999;
}

main#bodied {
    padding: 5px;
}

section.executor, section.processor {
    position: fixed;
    left: 0;
    bottom: 1.7em;
    width: 100%;
    padding: 1em;
    background-color: rgb(191, 144, 0);
    height: 5em;
    z-index: 1000;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.7em;
    text-align: right;
    background-color: #f0f0f0;
    z-index: 1000;
    padding-right: 5px;
}
input:disabled, button:disabled {
    cursor: not-allowed;
}


/*
 * ---------------------------------------------------
 *   INIT PAGE
 * ---------------------------------------------------
 */
#init {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    background-color: white;
}
#init p {
    margin: 0;
    padding: 0;
}
#init .row-head-page {
    margin-bottom: 50px;
}
#init h1 {
    font-size: 3rem;
}
#init .p {
    font-size: 1.3rem;
    font-weight: 300;
}
#init .lead {
    font-size: 1.5rem;
    font-weight: 400;
}
#init .footer {
    font-size: 1rem;
    padding: 0;
}


/*
 * ---------------------------------------------------
 *   WORKFLOW PAGE
 * ---------------------------------------------------
 */

#bodied h3.text-center {
    margin-bottom: 20px;
}

/* Tab settings */
/* .tab-content {
    padding: .1em 0 0 0;
    height: 635px;
} */
.tab-content {
    padding: .1em 0 0 0;
    height: 100%;
    width: 100%;
    /* position: fixed; */
}
.tabs-main .tab-pane {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: 100%;
}
.tabs-parameters .tab-pane {
    width: 100%;   
}
.nav-tabs .nav-link {
    color: goldenrod!important;
}
.nav-tabs .nav-link.active {
    color: rgb(191,144,0)!important;
}

#page {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    margin: 0;
    padding: 0;
}
.col-1 {
    padding: 0 .1em 0 0;
}
.col-11 {
    padding: 0 .5em 0 0;
    height: 100%;
}

#page .page-header {
    height: auto;
    background-color: black;
    color: white;
    font-size: 1.8em;
    padding: .3em;
    text-align: center;
}
#page-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}
#page-content .sdesc p {
    margin: 0;
    padding: 0;
}

/* sidebar */
#page .col-1 {
    min-width: 100px;
}
#sidebar .sidebar-header {
    font-size: 1.8em;
    padding: .3em;
}
#sidebar {
    background: black;
    color: #fff;
    text-align: center;
    height: 100%;
}
#sidebar ul {
    padding: 20px 0;
}
#sidebar ul li a {
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #e9ecef;
}
#sidebar ul li a.active {
    color: black;
    background: #e9ecef;
}
#sidebar ul li a:hover {
    color: #a2a3a5;
}

/*
 * ---------------------------------------------------
 *   EXECUTOR
 * ---------------------------------------------------
 */
#executor button#start {
    color: #fff;
    background-color: slategray;
    border-color: black;
    margin-left: 0.3em;
}
#processor button#stop {
    margin-left: 0.1em;
}

/*
 * ---------------------------------------------------
 *   PROCESSORS/LOGGER
 * ---------------------------------------------------
 */
#panel-logger {
    margin: 10px 10px 10px 20px;
    overflow-y: auto !important;
}
#projectlogs {
    margin-bottom: 10px;
}
#projectlogs tbody {
    cursor: pointer;
}
#projectlogs .currentRow, #projectlogs .highlight {
    background: rgb(248, 224, 162);
}
#workflowlogs .logtable {
    margin-bottom: 5px;
}
#workflowlogs .logtable tbody {
    cursor: pointer;
}

/*
 * ---------------------------------------------------
 *   LOADER
 * ---------------------------------------------------
 */
#loader {
    display: none;
}
.loading-page {
    z-index: 2000;
    background-color: white;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
}
.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2001;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid goldenrod;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/*
 * ---------------------------------------------------
 *   PANEL-SECTION: MAIN_INPUTS
 * ---------------------------------------------------
 */
div[id^="panel-"] {
    margin-top: .6em;
}
    
/*
 * ---------------------------------------------------
 *   PANEL-SECTION: MAIN_INPUTS
 * ---------------------------------------------------
 */
.form-inline.row {
    margin-right: 0;
    margin-left: 0;
}
.input-group.col {
    padding-left: 0;
    padding-right: 0;
}
.form-group.row {    
    margin-right: 0;
    margin-left: 0;
    margin-bottom: .6em;
}
.form-group.row > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 1em;
}
.form-control {
    font-size: inherit;
}
#species, #__INDIR__, #__OUTDIR__, #modfile, #dbfile, #def-dbfile, #decoylabel, .custom-select {
    height: 30px;
}
section.tab-content > .form-inline {
    margin-bottom: 5px;
    width: 100%;
}
.selectpicker .btn {
    color: #212529;
    background-color: white;
    border: 1px solid #ced4da;
}
.btn-selectpicker {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-selectpicker:focus,
.btn-selectpicker.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-selectpicker:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-selectpicker:active,
.btn-selectpicker.active,
.open > .dropdown-toggle.btn-selectpicker {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}
.btn-selectpicker:active:hover,
.btn-selectpicker.active:hover,
.open > .dropdown-toggle.btn-selectpicker:hover,
.btn-selectpicker:active:focus,
.btn-selectpicker.active:focus,
.open > .dropdown-toggle.btn-selectpicker:focus,
.btn-selectpicker:active.focus,
.btn-selectpicker.active.focus,
.open > .dropdown-toggle.btn-selectpicker.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-selectpicker.disabled:hover,
.btn-selectpicker[disabled]:hover,
fieldset[disabled] .btn-selectpicker:hover,
.btn-selectpicker.disabled:focus,
.btn-selectpicker[disabled]:focus,
fieldset[disabled] .btn-selectpicker:focus,
.btn-selectpicker.disabled.focus,
.btn-selectpicker[disabled].focus,
fieldset[disabled] .btn-selectpicker.focus {
    background-color: #fff;
    border-color: #ccc;
}
.btn-selectpicker .badge {
    color: #fff;
    background-color: #333;
}

/*
 * ---------------------------------------------------
 *   PANEL-SECTION: ADVANCED PARAMETERS
 * ---------------------------------------------------
 */
#panel-simple {
    clear: both;
}
#panel-simple .sdesc {
    margin-bottom: .6em;
}
#panel-simple .toggle.btn {
    margin-bottom: .6em;
}
.toggle.btn {
    min-height: 1.875rem;
}
.helpadv {
    position: relative;
    float: right;
    cursor: pointer;
}
.helpadv .text-info {
    color: goldenrod!important;
}
.modal-xl {
    max-width: 1140px;
}
.modal-body a {
    color: goldenrod!important;
}

/*
* ---------------------------------------------------
*   HELP MODALS PAGES
* ---------------------------------------------------
*/
#help {
    padding: 20px;
    background-color: white;
}
/* #help figure.figure.rounded.float-right {
    margin: 10px 0px 10px 10px;
    width: 40%;
}
#help .figure-caption {
    font-size: 100%;
}
#help .figure-img {
    width: 100%;
}
#help .footnote {
    margin-top: 40px;
    margin-bottom: 20px;
}
div[id^="help_"] {
    margin-bottom: 6rem;
    margin-top: 3rem;
} */

/* Divider */
/* .h-divider {
    margin: auto;
    margin-top: 80px;
    width: 80%;
    position: relative;
}  
.h-divider .shadow2 {
    overflow: hidden;
    height: 20px;
}

.h-divider .shadow2:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
}
.h-divider .stars {
    width: 100px;
    height: 45px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -20px;
    left: 50%;
    margin-left: -45px;
    font-size: large;
    color: rgb(191, 144, 0);
} */

#hmodal * {
    color: black;
}

/*
* ---------------------------------------------------
*   NEW PROJECT
* ---------------------------------------------------
*/
#page-new-project {
    padding: 1rem;
}


/*
 * ---------------------------------------------------
 *   PANEL-ADAPTOR:
 * ---------------------------------------------------
 */

#paneladaptor-input #add_expcol .wtHider, 
#paneladaptor-input #add_levelid .wtHider,
#paneladaptor-input #add_quant .wtHider,
#paneladaptor-input #fdr .wtHider,
#paneladaptor-input #protein_assigner .wtHider {
    /* pointer-events: none; */
    opacity: 0.8;
}


#paneladaptor-input .row {
    margin-right: 0;
    margin-left: 0;
}
#paneladaptor-input .col {
    padding-right: 0;
    padding-left: 0;
}
#paneladaptor-input .col-buttons {
    height: 20px !important;
    margin-bottom: 2px;
}
#paneladaptor-input .row .text-center {
    margin-top: 60px;
}

#paneladaptor-input fieldset {
    height: 100%;
    margin-bottom: 1.5rem;
}
#paneladaptor-input fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 .8em .8em .8em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
#paneladaptor-input legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
#paneladaptor-input .form-check {
    margin-bottom: .25rem;
}

