/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
/* @import "https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,600,700"; */
/* @import "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,600,700"; */
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";

* {
    /* font-family: 'Roboto Mono';
    font-size: .87rem; */
    /* font-family: 'Roboto Condensed';
    font-size: .97rem; */
    font-family: 'Roboto';
    font-size: .87rem;
}
body {
    background: #fafafa;
    font-size: .97rem;
}
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

main#bodied {
    padding: 5px;
}

section.executor, section.processor {
    position: fixed;
    left: 0;
    bottom: 1.7em;
    width: 100%;
    padding: 1em;
    background-color: goldenrod;
    height: 5em;
    z-index: 1000;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.7em;
    text-align: right;
    background-color: #f0f0f0;
    z-index: 1000;
    padding-right: 5px;
}
input:disabled, button:disabled {
    cursor: not-allowed;
}

/* ---------------------------------------------------
    INIT PAGE
----------------------------------------------------- */
#accordion {
    margin: 20px 10px 0 10px;
}
#accordion button {
    text-decoration: none;
    color: goldenrod;
}
#accordion a.btn-primary {
    color: #fff;
    background-color: slategray;
    border-color: black;
    margin-left: 0.3em;
}
#accordion .card-header {
    font-weight: 400;
    font-size: 1rem;
    color: goldenrod;
    cursor: pointer;
}
#accordion  .card-body a {
    padding-left: 5px;
}

/* ---------------------------------------------------
    WORKFLOW PAGE
----------------------------------------------------- */

/* Tab settings */
.tab-content {
    padding: .1em 0 0 0;
    height: 635px;
}
.tabs-main .tab-pane {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: 100%;
}
.tabs-parameters .tab-pane {
    width: 100%;   
}

#page {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    margin: 0;
    padding: 0;
}
/* div[class^="col-"] {
    padding: 0 .5em 0 0;
} */
.col-1 {
    padding: 0 .1em 0 0;
}
.col-11 {
    padding: 0 .5em 0 0;
    margin-bottom: .1em;
}

#page .page-header {
    height: auto;
    background-color: #6d7fcc;
    color: white;
    font-size: 1.8em;
    padding: .3em;
    text-align: center;
}

#page-content {
    padding-left: 0.5em;
    padding-bottom: 1em;
}


/* sidebar */
#sidebar .sidebar-header {
    font-size: 1.8em;
    padding: .3em;
}

#sidebar {
    background: #7386D5;
    color: #fff;
    text-align: center;
    height: 100%;
}
#sidebar ul {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a.active {
    color: #7386D5;
    background: #e9ecef;
}
#sidebar ul li a:hover {
    /* color: #fff;
    background: #6d7fcc; */
}


/* ---------------------------------------------------
    EXECUTOR
----------------------------------------------------- */
#executor button#start {
    color: #fff;
    background-color: slategray;
    border-color: black;
    margin-left: 0.3em;
}
#processor button#stop {
    margin-left: 0.1em;
}

/* ---------------------------------------------------
    PROCESSORS/LOGGER
----------------------------------------------------- */
#hot_processes {
    margin-bottom: 10px;
}
#hot_processes_panel {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: 590px;
    resize: none;
}

/* ---------------------------------------------------
    LOADER
----------------------------------------------------- */
#loader {
    display: none;
}
.loading-page {
    z-index: 2000;
    background-color: white;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
}
.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2001;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid goldenrod;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/*
 * ---------------------------------------------------
 *   PANEL-SECTION: MAIN_INPUTS
 * -----------------------------------------------------
 */
    div[id^="panel-"] {
        margin-top: .6em;
    }
    
/*
 * ---------------------------------------------------
 *   PANEL-SECTION: MAIN_INPUTS
 * -----------------------------------------------------
 */
.form-inline.row {
    margin-right: 0;
    margin-left: 0;
}
.input-group.col {
    padding-left: 0;
    padding-right: 0;
}
.form-group.row {    
    margin-right: 0;
    margin-left: 0;
    margin-bottom: .6em;
}
.form-group.row > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 1em;
}
.form-control {
    font-size: inherit;
}
#species, #indir, #outdir, #modfile, #dbfile, #catfile, #def-dbfile, #def-catfile, #decoylabel,
.select-indir, .select-outdir, .select-dbfile, .select-catfile, .custom-select {
    height: 30px;
}
section.tab-content > .form-inline {
    margin-bottom: 5px;
    width: 100%;
}
.selectpicker .btn {
    color: #212529;
    background-color: white;
    border: 1px solid #ced4da;
}
.btn-selectpicker {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-selectpicker:focus,
  .btn-selectpicker.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  .btn-selectpicker:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .btn-selectpicker:active,
  .btn-selectpicker.active,
  .open > .dropdown-toggle.btn-selectpicker {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
  }
  .btn-selectpicker:active:hover,
  .btn-selectpicker.active:hover,
  .open > .dropdown-toggle.btn-selectpicker:hover,
  .btn-selectpicker:active:focus,
  .btn-selectpicker.active:focus,
  .open > .dropdown-toggle.btn-selectpicker:focus,
  .btn-selectpicker:active.focus,
  .btn-selectpicker.active.focus,
  .open > .dropdown-toggle.btn-selectpicker.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
  .btn-selectpicker.disabled:hover,
  .btn-selectpicker[disabled]:hover,
  fieldset[disabled] .btn-selectpicker:hover,
  .btn-selectpicker.disabled:focus,
  .btn-selectpicker[disabled]:focus,
  fieldset[disabled] .btn-selectpicker:focus,
  .btn-selectpicker.disabled.focus,
  .btn-selectpicker[disabled].focus,
  fieldset[disabled] .btn-selectpicker.focus {
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-selectpicker .badge {
    color: #fff;
    background-color: #333;
  }
  

/*
 * ---------------------------------------------------
 *   PANEL-SECTION: ADVANCED PARAMETERS
 * -----------------------------------------------------
 */
#panel-advance {
    margin-top: .6em;
    margin-bottom: .6em;
    height: 30px;
    clear: both;
}
.toggle.btn {
    /* float: right; */
    min-height: 1.875rem;
}
