body {
    padding: 5px;
    font-size: .8em;
}
section.content {
    margin-top: 1em;
    margin-bottom: 1em;
}
section.executor, section.processor {
    position: fixed;
    left: 0;
    bottom: 1.7em;
    width: 100%;
    padding: 1em;
    background-color: goldenrod;
    height: 5em;
    z-index: 2;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.7em;
    text-align: right;
    background-color: #f0f0f0;
    z-index: 2;
}
input:disabled, button:disabled {
    cursor: not-allowed;
}

/* Tab settings */
section.tab-content {
    margin-bottom: 10px;
    padding-right: 0.3em;
    padding-left: 0.3em;
    /* width: 99%; */
}

.tabs-main .tab-pane {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;   
}
.tabs-parameters .tab-pane {
    width: 100%;   
}
.tab-content {
    padding: .5em;
}

/* parameters */
.form-inline.row {
    margin-right: 0;
    margin-left: 0;
}
.input-group.col {
    padding-left: 0;
    padding-right: 0;
}
.form-group.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: .6em;
    padding-left: 0;
    padding-right: 0;
}
.form-group.row > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 1em;
}
.form-control {
    font-size: inherit;
}

input#indir, input#outdir, input#modfile, input#catfile {
    /* width: 400px; */
    /* width: 100%; */
}
#tasktable [type^="button"] {
    /* margin-top: 3px; */
}
input#modfile, input#catfile {
    /* margin-right: 3px; */
}
section.tab-content > .form-inline {
    margin-bottom: 5px;
    width: 100%;
}


/* executor */
#executor button#start {
    color: #fff;
    background-color: slategray;
    border-color: black;
    margin-left: 0.3em;
}
#processor button#stop {
    margin-left: 0.1em;
}

/* loader */
.loading-page {
    z-index: 10000;
    background: transparent;
    width: 99%;
    height: 99%;
    position: absolute;
    display: none;
}
.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid goldenrod;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
